/* Global Style */
body {
    font-family: 'Lato', sans-serif;
    font-family: 'Merriweather', serif;
}
#wrap {
    margin: 0 auto;
    background-color: #4D1E53;
}    
h1 {
    font-family: 'Merriweather', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 68px;
    line-height: 65px;
    align-items: center;
    text-align: right;
    letter-spacing: -0.025em;
}

h2{
    font-family: 'Merriweather', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 53px;
    letter-spacing: -0.025em;
}

h3 {
    font-family: 'Merriweather', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 118%;
    letter-spacing: 0.025em;
}

h4 {
    font-family: 'Merriweather', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
}
    
h5 {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 34px;
    display: flex;
    align-items: center;
    letter-spacing: 0.025em;
}

h6 {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.025em;
}

p {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    align-items: center;
    letter-spacing: 0.025em;
}

/* Nav Elements */


#navContainer {
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    padding-top: 31px;
    padding-left: 31px;
    padding-right: 31px;
    height: 159px;
    margin: 0 auto;
    /* border: 1px solid black; */
    background-color: #4D1E53;
}

.topRow {
    display: flex;
    justify-content: space-between;
}

.logoContainer {
}

.ctaNsearch {
    display: flex;
    justify-content: space-between;
    width: 600px;
    height: 45px;
}

/* Button Styles */

.makeAdonationButton {
    display: flex;
    justify-content: center;
    background: #EAA932;
    border-radius: 5px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;
    width: 288px;
    text-decoration: none;
    color: #272727;
}

.makeAdonationButtonText {
    text-decoration: none;
    color: #272727;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16pt;
    line-height: 45px;
    text-transform: uppercase;
    letter-spacing: 0.075em;
}

/* Search Bar */

.searchBar {
    display: flex;
    background: white;
    border-radius: 5px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    width: 288px;
    text-decoration: none;
    color: #4D1E53;
}

.magBox {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E8F1F7;
    margin: 3px;
    height: 39px;
    width: 39px;
    border-radius: 3px;
}

.searchBarText {
    text-decoration: none;
    color: #4D1E53;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16pt;
    line-height: 45px;
    letter-spacing: 0.075em;
}

/* Navigation Menu Items */

.navBar {
    display: flex;
    justify-content: space-between;
    /* justify-content: inherit; */
}

.primaryNav { */
    height: 61px;
    margin-top: 18px;
}

.homeIcon {
    background-color: #4D1E53;
    padding-top: 12px;
    width: 100%;
    height: 49px;
}

.votersGuide {
    width: 100%;
    background-color: #4D1E53;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14pt;
    text-transform: uppercase;
    border: none;
    color: white;
    text-align: center;
    height: 61px;
    transition: 0.3s;
}
 /* active state */
.votersGuide:hover {
    border-top: 3px solid #E8F1F7
}

.voterInfo {
    width: 100%;
    background-color: #4D1E53;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14pt;
    text-transform: uppercase;
    border: none;
    color: white;
    text-align: center;
    height: 61px;
    transition: 0.3s;
}
 /* active state */
.voterInfo:hover {
    border-top: 3px solid #E8F1F7;
}

.getInvolved {
    width: 100%;
    background-color: #4D1E53;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14pt;
    text-transform: uppercase;
    border: none;
    color: white;
    text-align: center;
    height: 61px; 
    transition: 0.3s;
}
 /* active state */
.getInvolved:hover {
    border-top: 3px solid #E8F1F7
}

.membership {
    width: 100%;
    background-color: #4D1E53;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14pt;
    text-transform: uppercase;
    border: none;
    color: white;
    text-align: center;
    height: 61px; 
    transition: 0.3s;
}
 /* active state */
.membership:hover {
    border-top: 3px solid #E8F1F7
}

.newsAndEvents {
    width: 100%;
    background-color: #4D1E53;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14pt;
    text-transform: uppercase;
    border: none;
    color: white;
    text-align: center;
    height: 61px; 
    transition: 0.3s;
}
 /* active state */
.newsAndEvents:hover {
    border-top: 3px solid #E8F1F7
}

.aboutUs {
    width: 100%;
    background-color: #4D1E53;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14pt;
    text-transform: uppercase;
    border: none;
    color: white;
    text-align: center;
    height: 61px; 
    transition: 0.3s;
}
 /* active state */
.aboutUs:hover {
    border-top: 3px solid #E8F1F7
}

.contactUs {
    width: 100%;
    background-color: #4D1E53;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14pt;
    text-transform: uppercase;
    border: none;
    color: white;
    text-align: center;
    height: 61px; 
    transition: 0.3s;
}
 /* active state */
.contactUs:hover {
    border-top: 3px solid #E8F1F7
}


