/* Global Style */
body {
    font-family: 'Lato', sans-serif;
    font-family: 'Merriweather', serif;
}
#wrap {
    max-width: 1440px;
    margin: 0 auto;
}
h1 {
    font-family: 'Merriweather', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 68px;
    line-height: 65px;
    align-items: center;
    text-align: right;
    letter-spacing: -0.025em;
}

h2{
    font-family: 'Merriweather', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 53px;
    letter-spacing: -0.025em;
}

h3 {
    font-family: 'Merriweather', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 118%;
    letter-spacing: 0.025em;
}

h4 {
    font-family: 'Merriweather', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
}
    
h5 {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 34px;
    display: flex;
    align-items: center;
    letter-spacing: 0.025em;
}

h6 {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.025em;
}

p {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    align-items: center;
    letter-spacing: 0.025em;
}

/* Header Nav Style */
/* Nav Elements */


#navContainer {
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    padding-top: 31px;
    padding-left: 31px;
    padding-right: 31px;
    height: 159px;
    margin: 0 auto;
    /* border: 1px solid black; */
    background-color: #4D1E53;
}

.topRow {
    display: flex;
    justify-content: space-between;
}

.logoContainer {
    display: flex;
}

.logoContainerMobile {
    display: none;
}

.hamburgerMenu {
    display: none;
}

.ctaNsearch {
    display: flex;
    justify-content: space-between;
    width: 600px;
    height: 45px;
}

/* Button Styles */

.makeAdonationButton {
    display: flex;
    justify-content: center;
    background: #EAA932;
    border-radius: 5px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;
    width: 288px;
    text-decoration: none;
    color: #272727;
}

.makeAdonationButtonText {
    text-decoration: none;
    color: #272727;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16pt;
    line-height: 45px;
    text-transform: uppercase;
    letter-spacing: 0.075em;
}

/* Search Bar */

.searchBar {
    display: flex;
    background: white;
    border-radius: 5px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    width: 288px;
    text-decoration: none;
    color: #4D1E53;
}

.magBox {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E8F1F7;
    margin: 3px;
    height: 39px;
    width: 39px;
    border-radius: 3px;
}

.searchBarText {
    text-decoration: none;
    color: #4D1E53;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16pt;
    line-height: 45px;
    letter-spacing: 0.075em;
}

/* Navigation Menu Items */

.navBar {
    display: flex;
    justify-content: space-between;
    /* justify-content: inherit; */
}

.primaryNav {
    height: 61px;
    margin-top: 18px;
}

.homeIcon {
    background-color: #4D1E53;
    padding-top: 12px;
    width: 100%;
    height: 49px;
}

.votersGuideNav {
    width: 100%;
    background-color: #4D1E53;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14pt;
    text-transform: uppercase;
    border: none;
    color: white;
    text-align: center;
    height: 61px;
    transition: 0.3s;
}
 /* active state */
.votersGuideNav:hover {
    border-top: 3px solid #E8F1F7
}

.voterInfoNav {
    width: 100%;
    background-color: #4D1E53;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14pt;
    text-transform: uppercase;
    border: none;
    color: white;
    text-align: center;
    height: 61px;
    transition: 0.3s;
}
 /* active state */
.voterInfoNav:hover {
    border-top: 3px solid #E8F1F7;
}

.getInvolvedNav {
    width: 100%;
    background-color: #4D1E53;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14pt;
    text-transform: uppercase;
    border: none;
    color: white;
    text-align: center;
    height: 61px; 
    transition: 0.3s;
}
 /* active state */
.getInvolvedNav:hover {
    border-top: 3px solid #E8F1F7
}

.membershipNav {
    width: 100%;
    background-color: #4D1E53;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14pt;
    text-transform: uppercase;
    border: none;
    color: white;
    text-align: center;
    height: 61px; 
    transition: 0.3s;
}
 /* active state */
.membershipNav:hover {
    border-top: 3px solid #E8F1F7
}

.newsAndEventsNav {
    width: 100%;
    background-color: #4D1E53;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14pt;
    text-transform: uppercase;
    border: none;
    color: white;
    text-align: center;
    height: 61px; 
    transition: 0.3s;
}
 /* active state */
.newsAndEventsNav:hover {
    border-top: 3px solid #E8F1F7
}

.aboutUsNav {
    width: 100%;
    background-color: #4D1E53;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14pt;
    text-transform: uppercase;
    border: none;
    color: white;
    text-align: center;
    height: 61px; 
    transition: 0.3s;
}
 /* active state */
.aboutUsNav:hover {
    border-top: 3px solid #E8F1F7
}

.contactUsNav {
    width: 100%;
    background-color: #4D1E53;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14pt;
    text-transform: uppercase;
    border: none;
    color: white;
    text-align: center;
    height: 61px; 
    transition: 0.3s;
}
 /* active state */
.contactUsNav:hover {
    border-top: 3px solid #E8F1F7
}

/* Media Queries */

@media only screen and (max-width: 1080px) {
    #navContainer {
        display: flex;
        flex-direction: column;
        max-width: 1440px;
        padding-top: 39px;
        padding-left: 24px;
        padding-right: 24px;
        height: 66px;
        margin: 0 auto;
        /* border: 1px solid black; */
        background-color: #4D1E53;
    }
    .hamburgerMenu {
        display: flex;
        height: 45px;
        width: 45px;
    }
    .navBar {
      display: none;
    }
    .ctaNsearch {
        display: none;
    }

    .logoContainer {
        display: none;
    }

    .logoContainerMobile {
        display: flex;
    }
}


/* Hero Image Style */
.heroImage {
    background-image: url(../Images/young-voter-at-booth.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    display: grid;
    align-content: center;  
    justify-content: end;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "none none CTA CTA CTA CTA";
    position: relative;
}

#CTA {
    grid-area: CTA;
    display: grid;
    background: rgba(10, 88, 148,0.75);
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    position: absolute;
    top: -120px;
    right: 10%;
    max-height: 200px;
    width: auto;

}

#CTAButton {
    display: grid;
    background: #EAA932;
    border-radius: 5px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 0.075em;
    text-transform: uppercase;
    height: 45px;
    align-items: center;
    justify-items: center;
    padding-right: 75px;
    padding-left: 75px;
    text-decoration: none;
    color: #272727;
    position: absolute;
    top: 90%;
    right: 100px;
    border:none;
}

#CTAButton:hover {
    background: rgba(234, 169, 50, 0.75);
}

#CTAButton:focus{
    outline: 3px solid #811F5E;
}

/* Three Pillars Content Style */
.intro {
    background-color: #E8F1F7;
    display: block;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.threePillars {
    padding-left: 5%;
    padding-right: 5%;
    background-color: #E8F1F7;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    column-gap: 10px;
    padding-bottom: 60px;
}

.pillarCard {
    background-color: #0A5894;
    color: white;
    display: flex;
    justify-content: center;
    min-height: 144px;
    width: 33%;
}

.pillarCard:hover {
    box-shadow: 2px 2px 10px #272727;
}

#education a{
    text-decoration: none;
    color: white;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    align-items: center;
    letter-spacing: 0.025em;
}
.icons {
    padding-right: 20px;
    width: 58px;
    height: 74px;
    padding-top: 30px;
    padding-left: 20px;
}

.textTP {
    line-height: 5px;
    padding-right: 20px;
}
.textTP h5 {
    margin-bottom: 0;
    margin-top: 20px;
}
.textTP p {
    margin-top: 0;
}
/* Votes Guide Info Style */

#twoColumnsInfo {
    display: grid;
    margin: 5%;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "votersGuideInfo vote411Info";
    position: relative;
    margin-bottom: 100px;
}

.votersGuideInfo {
    grid-area: votersGuideInfo;
    padding-right: 40px;
    border-right: 1px solid black;
}


/* Vote411 Info Style */

.vote411Info {
        grid-area: vote411Info;
        padding-left: 40px;
        padding-top: 20px;
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-template-areas: "vote411LogoStacked vote411About";
}

#vote411LogoStacked {
    grid-area: vote411LogoStacked;
    padding-right: 10px;
}

#vote411About {
    grid-area: vote411About;
    padding-top: 25px;
   
}
/* Button Styles */

.votersGuideButton {
    display: grid;
    grid-area: votersGuideButton;
    background: #811F5E;
    border-radius: 5px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    height: 45px;
    align-items: center;
    justify-items: center;
    padding-right: 75px;
    padding-left: 75px;
    text-decoration: none;
    color: white;
    position: absolute;
    bottom: -50px;
    left: 10%;
    border:none;
    text-decoration: none;
    color: white;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 0.075em;
    line-height: 22px;
}

.votersGuideButton:hover {
    background: rgba(129, 31, 94, 0.75);
}

.votersGuideButton:focus{
    outline: 3px solid #EAA932;
}

.vote411Button {
    display: grid;
    grid-area: vote411Button;
    background: #811F5E;
    border-radius: 5px;
    height: 45px;
    align-items: center;
    justify-items: center;
    padding-right: 75px;
    padding-left: 75px;
    position: absolute;
    bottom: -50px;
    right: 10%;
    border:none;
    text-decoration: none;
    color: white;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 0.075em;
    line-height: 22px;
}

.vote411Button:hover {
    background: rgba(129, 31, 94, 0.75);
}

.vote411Button:focus{
    outline: 3px solid #EAA932;
}

/* Footer Elements */


#footerContainer {
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    padding-top: 31px;
    padding-left: 31px;
    padding-right: 31px;
    height: 90px;
    margin: 0 auto;
    /* border: 1px solid black; */
    color: #E8F1F7;
    background-color: #4D1E53;
}

.stayConnectedWrapper {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-left: 31px;
    padding-right: 31px;
    max-width: 1440px;
    padding-top: 0px;
    padding-bottom: 14px;
    color: #E8F1F7;
    background-color: #4D1E53;
}

.middleWrapper {
    margin-top: -22px;
    display: flex;
    justify-content: space-between;
}

.socialWrapper {
    display: flex;
    justify-content: space-between;
    max-width: 400px;
}

.socialLink {
    margin-top: -18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 30px;
}

.bottomButtons {
    display: flex;
    justify-content: space-between;
    width: 600px;
    height: 45px;
}

.copyrightBar {
    background: #272727;
}

.copywrightWrapper {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-left: 31px;
    padding-right: 31px;
    max-width: 1440px;
    padding-top: 0px;
    padding-bottom: 14px;
    font-family: 'Lato', sans-serif;
    font-size: 14pt;
    color: white;
    height: 44px;
}

/* Button Styles */

.makeAdonationButton2 {
    display: flex;
    justify-content: center;
    background: #EAA932;
    border-radius: 5px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;
    width: 288px;
    text-decoration: none;
    color: #272727;
}


.makeAdonationButtonTex2 {
    text-decoration: none;
    color: #272727;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16pt;
    line-height: 45px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

.webMasterButton {
    display: flex;
    justify-content: center;
    background: #E8F1F7;
    border-radius: 5px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;
    width: 288px;
    text-decoration: none;
    color: #272727;
}

.webMasterButtonText {
    text-decoration: none;
    color: #272727;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16pt;
    line-height: 45px;
    text-transform: uppercase;
    letter-spacing: 0.025em;
}

/* Media Queries */

@media only screen and (max-width: 1080px) {
    #footerContainer {
        display: flex;
        max-width: 1440px;
        height: 128px;
        padding-top: 39px;
        padding-left: 24px;
        padding-right: 24px;
        margin: 0 auto;
        background-color: #4D1E53;
    }

    .stayConnectedWrapper {
        padding-left: 24px;
        padding-right: 24px;
    }
    
    .middleWrapper {
        margin-top: -22px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .socialLink {
        margin-top: -36px;
        flex-direction: column;
        align-items: center;
        padding-right: 20px;
        padding-left: 10px;
    }
    
    .bottomButtons {
        display: flex;
        justify-content: space-between;
        width: 600px;
    }
}

    @media only screen and (max-width: 700px) {
    
    #footerContainer {
        height: 208px;
    }
        
    .bottomButtons {
        flex-wrap: wrap;
        justify-content: center;
        flex-wrap: wrap-reverse;
        margin-top: 80px;
        max-width: 300px;
    }

    .webMasterButton {
        margin-top: 24px;
        margin-bottom: 6px;
    }
}

@media only screen and (max-width: 1330px) {
    h1 {
        font-size: 58px;
        line-height: 118.2%;
    }

    .vote411Info {
        justify-content: space-around;
    }

    .vote411Button {
        right: 0;
        padding-left: 50px;
        padding-right: 50px;
    }
    
    .votersGuideButton {
        left: 0;
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media only screen and (max-width: 1150px) {
    h1 {
        font-size: 46px;
        line-height: 118.2%;
    }
    .heroImage {
        height: 350px;
    }
    #CTA {
        top: -100px;
    }
    .icons {
        padding-top: 60px;
    }
}

@media only screen and (max-width: 1000px) {
    h1 {
        font-size: 38px;
        line-height: 118.2%;
    }

    #CTAButton{
        padding-left: 50px;
        padding-right: 50px;
        right:75px;
    }

    #CTA {
        top: -75px;
    }

    h2 {
        font-size: 36px;
    }

    .pillarCard {
        flex-direction: column;
        align-items: center;
    }
    
    .textTP {
        padding-left: 20px;
        padding-right: 20px;
        text-align: left;
    }

    
    .icons {
        padding-top: 20px;
    }

    .vote411Info {
        grid-template-columns: 1fr;
        grid-template-rows: .4fr 1fr;
        grid-template-areas: "vote411LogoStacked" "vote411About";
        justify-content: center;
        align-items: top;
        padding-top: 0px;
    }

    #vote411LogoStacked {
        justify-self: center;
        transform: scale(0.7);

    }
    
    #vote411About {
        padding-top: 0px;
    }

    .votersGuideButton {
        padding-left: 20px;
        padding-right: 20px;
    }

    .vote411Button {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media only screen and (max-width: 800px) {
    h1 {
        font-size: 30px;
        line-height: 118.2%;
   }

   #CTAButton{
    padding-left: 30px;
    padding-right: 30px;
    right: 50px;
    }
    #CTA {
        top: -50px;
    }

    h2 {
        font-size: 26px;
    }

    .votersGuideButton {
        padding-left: 10px;
        padding-right: 10px;
    }

    .vote411ButtonText {
        font-weight: normal;
        letter-spacing: 0.025em;
    }

    .vote411Button {
        padding-left: 10px;
        padding-right: 10px;
    }
    .votersGuideButtonText {
        font-weight: normal;
        letter-spacing: 0.025em;
    }

}

@media only screen and (max-width: 615px) {
    h1 {
        font-size: 24px;
        line-height: 118.2%;
        letter-spacing: -0.025em;
    }

    h2 {
        font-size: 22px;
        line-height: 118.2%;
        letter-spacing: -0.025em;
    }

    #CTA {
        height: 105px;
        padding-left: 10px;
        padding-right: 10px;
        min-width: 75%;
    }

    .heroImage {
        height: 250px;
    }

    #CTAButton{
        padding-left: 20px;
        padding-right: 20px;
        right: 30px;
        }
    
    .threePillars {
        flex-direction: column;
        row-gap: 10px;
        align-content: space-around;
    }
    .pillarCard {
        flex-direction: row;
        width: 100%;
        text-align: left;
    }
    .icons {
        padding-top: 0;
    }

    #twoColumnsInfo {
        grid-template-columns: 100%;
        grid-template-rows: 2fr 1fr 2fr;
        grid-template-areas: "votersGuideInfo" "votersGuideButton" "vote411Info";
        justify-items: center;
        align-items: center;
    }
    .votersGuideInfo {
        padding-right: 20px;
        border-right: none;
    }

    .vote411Info {
        padding-left: 0px;
    }

    #vote411LogoStacked {
        transform: scale(1);
    }

    .votersGuideButton {
        width: 250px;
        left: 20%;
        top: 0;
        text-align: center;
    }

    .vote411Button {
        left: 20%;
        width: 250px;
    }
}

@media only screen and (max-width: 485px) {
    h1 {
        font-size: 20px;
        line-height: 118.2%;
        letter-spacing: -0.025em;
    }

    h2 {
        font-size: 20px;
        line-height: 118.2%;
        letter-spacing: -0.025em;
    }

    #CTA {
        height: 120px;
    }

    .heroImage {
        height: 250px;
    }

    #CTAButton{
        padding-left: 10px;
        padding-right: 10px;
        right: 15px;
        }
    
    .votersGuideButton {
        left: 10%;
        width: 250px;
    }
    
    .vote411Button {
         left: 10%;
         width:250px;
    }
}