.card {
    margin-top: 60px;
    margin-left: 110px;
    margin-right: 110px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "group image"
    "group2 image"
}

.group {
    grid-area: group;
    max-width: 600px;
    max-height: fit-content;
}

.group2 {
    grid-area: group2;
    max-width: 600px;
    max-height: fit-content;
}

.image {
    grid-area: image;
    max-width: 600px;
    max-height: auto;
  }

.card2 {
    margin-top: 60px;
    margin-left: 110px;
    margin-right: 110px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "image group"
    "image group2"
}

h4 {
    font-family: 'Merriweather', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    border-bottom: 1px solid black;
}

p {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    align-items: center;
    letter-spacing: 0.025em;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li {
    margin-left: 50px;
    width: 550px;
}
#toggleName, #toggle2name, #toggle3Name {
    cursor: pointer;
}

#toggle2, #toggle3 {
    margin-left: 50px;
    width: 550px;
}
#dropdown, #toggle2, #toggle3 {
    display: none;
}