/* Global Style */
body {
    font-family: 'Lato', sans-serif;
    font-family: 'Merriweather', serif;
    width: 100%;
}
#wrap {
    max-width: 1440px;
    margin: 0 auto;
}
h1 {
    font-family: 'Merriweather', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 68px;
    line-height: 65px;
    align-items: center;
    text-align: right;
    letter-spacing: -0.025em;
}

h2{
    font-family: 'Merriweather', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 53px;
    letter-spacing: -0.025em;
}

h3 {
    font-family: 'Merriweather', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 118%;
    letter-spacing: 0.025em;
}

h4 {
    font-family: 'Merriweather', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
}
    
h5 {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 34px;
    display: flex;
    align-items: center;
    letter-spacing: 0.025em;
}

h6 {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.025em;
}

p {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    align-items: center;
    letter-spacing: 0.025em;
}

/* Header Nav Style */
/* Nav Elements */


#navContainer {
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    padding-top: 31px;
    padding-left: 31px;
    padding-right: 31px;
    height: 159px;
    margin: 0 auto;
    /* border: 1px solid black; */
    background-color: #4D1E53;
}

.topRow {
    display: flex;
    justify-content: space-between;
}

.logoContainer {
    display: flex;
}

.logoContainerMobile {
    display: none;
}

.hamburgerMenu {
    display: none;
}

.ctaNsearch {
    display: flex;
    justify-content: space-between;
    width: 600px;
    height: 45px;
}

/* Button Styles */

.makeAdonationButton {
    display: flex;
    justify-content: center;
    background: #EAA932;
    border-radius: 5px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;
    width: 288px;
    text-decoration: none;
    color: #272727;
}

.makeAdonationButtonText {
    text-decoration: none;
    color: #272727;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16pt;
    line-height: 45px;
    text-transform: uppercase;
    letter-spacing: 0.075em;
}

/* Search Bar */

.searchBar {
    display: flex;
    background: white;
    border-radius: 5px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    width: 288px;
    text-decoration: none;
    color: #4D1E53;
}

.magBox {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E8F1F7;
    margin: 3px;
    height: 39px;
    width: 39px;
    border-radius: 3px;
}

.searchBarText {
    text-decoration: none;
    color: #4D1E53;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16pt;
    line-height: 45px;
    letter-spacing: 0.075em;
}

/* Navigation Menu Items */

.navBar {
    display: flex;
    justify-content: space-between;
    /* justify-content: inherit; */
}

.primaryNav {
    height: 61px;
    margin-top: 18px;
}

.homeIcon {
    background-color: #4D1E53;
    padding-top: 12px;
    width: 100%;
    height: 49px;
}

.votersGuideNav {
    width: 100%;
    background-color: #4D1E53;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14pt;
    text-transform: uppercase;
    border: none;
    color: white;
    text-align: center;
    height: 61px;
    transition: 0.3s;
}
 /* active state */
.votersGuideNav:hover {
    border-top: 3px solid #E8F1F7
}

.voterInfoNav {
    width: 100%;
    background-color: #4D1E53;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14pt;
    text-transform: uppercase;
    border: none;
    color: white;
    text-align: center;
    height: 61px;
    transition: 0.3s;
}
 /* active state */
.voterInfoNav:hover {
    border-top: 3px solid #E8F1F7;
}

.getInvolvedNav {
    width: 100%;
    background-color: #4D1E53;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14pt;
    text-transform: uppercase;
    border: none;
    color: white;
    text-align: center;
    height: 61px; 
    transition: 0.3s;
}
 /* active state */
.getInvolvedNav:hover {
    border-top: 3px solid #E8F1F7
}

.membershipNav {
    width: 100%;
    background-color: #4D1E53;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14pt;
    text-transform: uppercase;
    border: none;
    color: white;
    text-align: center;
    height: 61px; 
    transition: 0.3s;
}
 /* active state */
.membershipNav:hover {
    border-top: 3px solid #E8F1F7
}

.newsAndEventsNav {
    width: 100%;
    background-color: #4D1E53;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14pt;
    text-transform: uppercase;
    border: none;
    color: white;
    text-align: center;
    height: 61px; 
    transition: 0.3s;
}
 /* active state */
.newsAndEventsNav:hover {
    border-top: 3px solid #E8F1F7
}

.aboutUsNav {
    width: 100%;
    background-color: #4D1E53;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14pt;
    text-transform: uppercase;
    border: none;
    color: white;
    text-align: center;
    height: 61px; 
    transition: 0.3s;
}
 /* active state */
.aboutUsNav:hover {
    border-top: 3px solid #E8F1F7
}

.contactUsNav {
    width: 100%;
    background-color: #4D1E53;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14pt;
    text-transform: uppercase;
    border: none;
    color: white;
    text-align: center;
    height: 61px; 
    transition: 0.3s;
}
 /* active state */
.contactUsNav:hover {
    border-top: 3px solid #E8F1F7
}

/* Media Queries */

@media only screen and (max-width: 1080px) {
    #navContainer {
        display: flex;
        flex-direction: column;
        max-width: 1440px;
        padding-top: 39px;
        padding-left: 24px;
        padding-right: 24px;
        height: 66px;
        margin: 0 auto;
        /* border: 1px solid black; */
        background-color: #4D1E53;
    }
    .hamburgerMenu {
        display: flex;
        height: 45px;
        width: 45px;
    }
    .navBar {
      display: none;
    }
    .ctaNsearch {
        display: none;
    }

    .logoContainer {
        display: none;
    }

    .logoContainerMobile {
        display: flex;
    }
}




/* Hero Image Style */

.heroImage {
    background-image: url(../Images/girl-with-button.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    position: relative;
    width: 100%;
}

.pageTitle {
    background-color: #0A5894;
    display: flex;
    max-width: 300px;
    padding-right: 30px;
    padding-left: 8%;
    text-align: right;
    position: absolute;
    max-height: 75px;
    align-items: center;
    bottom: -60px;
    color: white;
}

/*Widget Style*/
/*font-family: rift, sans-serif;*/
.vote411InfoSmall {
    display:none;
}
.vote411Widget {
    display: grid;
    background-color: #E8F1F7;
    width: 85%;
    height: 450px;
    margin: 8%;
    border-radius: 10px;
    grid-template-rows: 1fr 4fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "widgetHeader widgetHeader" "widgetForm vote411Info"; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    align-items: top;
    justify-items: center;
}

.widgetHeader {
    grid-area: widgetHeader;
    display: grid;
    background-image: linear-gradient(#186C93, #0A3A5A);
    height: 75px;
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    align-items: center;
}

.vote411Widget p {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: white;
    padding-left: 40px;
}

.widgetForm {
    grid-area: widgetForm;
    display:grid;
    padding-top: 20px;
    grid-template-columns: 1.75fr .25fr;
    grid-template-rows: 3fr 1fr;
    grid-template-areas: "votersGuideForm votersGuideForm" "smallText goButton";
    position: relative;
    align-content: space-betweens;
}

#votersGuideForm {
    grid-area: votersGuideForm;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #272727;
    font-size: 20px;
    line-height:30px;
    text-align: right;
    justify-items: center;
}

#votersGuideForm input {
    width: 50%;
    height: 30px;
    margin-left: 40px;
    background: #FEFFFF;
    box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-size:20px;
    color: #272727;
    padding-left: 10px;
} 

#votersGuideForm select {
    width: 52.5%;
    height: 30px;
    margin-left: 40px;
    background: #FEFFFF;
    box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-size:20px;
    color: #272727;
    padding-left: 10px;
    -webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
} 


#smallText {
    grid-area: smallText;
    padding-left: 0px;
}

#smallText p {
    color: #272727;
    font-size: 13px;
    font-weight: lighter;
    text-align: left;
    padding-right: 20px;
}

.widgetButton {
    background-color: #BB29BB;
    color: white;
    border-radius: 40px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 500;
    border: none;
}

.widgetButton:hover {
    background-color: #3582A5;
}

.widgetButton:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(21, 156, 228, 0.4);
}

.selectBox {
	position: relative;	
}


.selectBox:after {
    content: "";
    background-image:url(../Images/dashicons_arrow-down-alt2.png);
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
  	position: absolute;
  	top: 7px;
  	right: 20px;
  	pointer-events: none;
}

#goButton {
    grid-area: goButton;
}

.vote411Info {
    grid-area: vote411Info;
    padding-right: 40px;
    text-align: center;
    padding: 30px;
}

.vote411Info p {
    font-weight: 400;
    color: #272727;
    font-size: 18px;
    text-align: left;
}

.colorLogo {
    max-height: 125px;
}

/*Two Columns Section Style*/

.twoColumns {
    display: grid;
    margin: 8%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 5fr 2fr;
    grid-template-areas: "votersGuidePDF votersGuideMoreInfo" "pastIssues votersGuideMoreInfo";
    position: relative;
    align-items: start;
}

.votersGuidePDF {
    grid-area: votersGuidePDF;
    padding-right: 40px;
    display: grid;
    grid-template-rows: 2fr 3fr;
    grid-template-areas: "votersGuidePDFs" "buttons";
    align-items: start;
    justify-items: center;
    padding-top:25px;
}

.votersGuidePDF p {
    grid-area: votersGuidePDFs;
    font-style: italic; 
}

.votersGuideMoreInfo {
    grid-area: votersGuideMoreInfo;
    padding-left: 40px;
    display: grid;
    grid-template-rows: 3fr 1fr;
    grid-template-areas: "votersGuideMoreInfoText" "buttons";
    justify-items: center;
    align-items: start;
    border-left: 1px solid black;
}

.votersGuideMoreInfoText {
    grid-area: votersGuideMoreInfoText;
    margin-bottom: 0;
}

.votersGuideButton {
    display: grid;
    grid-area: votersGuideButton;
    background: #811F5E;
    border-radius: 5px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    height: 45px;
    align-items: center;
    justify-items: center;
    padding-right: 10px;
    padding-left: 10px;
    text-decoration: none;
    color: white;
    width: 350px;
    margin-top:0;
    border: none;
}
.votersGuideButton:focus{
    outline: 3px solid #EAA932;
}
.votersGuideButton:hover{
    background: rgba(129, 31, 94 0.75);
}


.buttons {
    grid-area: buttons;
    text-align: center;
}

#pastIssuesOptions {
    width: 350px;
    position: relative;
}

#pastIssuesOptions select {
    width: 350px;
    font-family: 'Lato', sans-serif;
    font-weight: Bold;
    letter-spacing: 0.075em;
    font-size: 18px;
    color: #555555;
    height: 40px;
    background: #FEFFFF;
    box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding-left: 10px;
    -webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
    appearance: none;
}

.selectBoxTwo:after {
    content: "";
    background-image:url(../Images/dashicons_arrow-down-alt2.png);
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
  	position: absolute;
  	top: 11px;
  	right: 20px;
  	pointer-events: none;
}

#donateButton {
    margin-top: 30px;
}

#openArrow {
    display: none;
}

#footerContainer {
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    padding-top: 31px;
    padding-left: 31px;
    padding-right: 31px;
    height: 90px;
    margin: 0 auto;
    /* border: 1px solid black; */
    color: #E8F1F7;
    background-color: #4D1E53;
}

.stayConnectedWrapper {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-left: 31px;
    padding-right: 31px;
    max-width: 1440px;
    padding-top: 0px;
    padding-bottom: 14px;
    color: #E8F1F7;
    background-color: #4D1E53;
}

.middleWrapper {
    margin-top: -22px;
    display: flex;
    justify-content: space-between;
}

.socialWrapper {
    display: flex;
    justify-content: space-between;
    max-width: 400px;
}

.socialLink {
    margin-top: -18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 30px;
}

.bottomButtons {
    display: flex;
    justify-content: space-between;
    width: 600px;
    height: 45px;
}

.copyrightBar {
    background: #272727;
}

.copywrightWrapper {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-left: 31px;
    padding-right: 31px;
    max-width: 1440px;
    padding-top: 0px;
    padding-bottom: 14px;
    font-family: 'Lato', sans-serif;
    font-size: 14pt;
    color: white;
    height: 44px;
}

/* Button Styles */

.makeAdonationButton2 {
    display: flex;
    justify-content: center;
    background: #EAA932;
    border-radius: 5px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;
    width: 288px;
    text-decoration: none;
    color: #272727;
}

.makeAdonationButtonTex2 {
    text-decoration: none;
    color: #272727;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16pt;
    line-height: 45px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

.webMasterButton {
    display: flex;
    justify-content: center;
    background: #E8F1F7;
    border-radius: 5px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;
    width: 288px;
    text-decoration: none;
    color: #272727;
}

.webMasterButtonText {
    text-decoration: none;
    color: #272727;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16pt;
    line-height: 45px;
    text-transform: uppercase;
    letter-spacing: 0.025em;
}

/* Media Queries */

@media only screen and (max-width: 1080px) {
    #footerContainer {
        display: flex;
        max-width: 1440px;
        height: 128px;
        padding-top: 39px;
        padding-left: 24px;
        padding-right: 24px;
        margin: 0 auto;
        background-color: #4D1E53;
    }

    .stayConnectedWrapper {
        padding-left: 24px;
        padding-right: 24px;
    }
    
    .middleWrapper {
        margin-top: -22px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .socialLink {
        margin-top: -36px;
        flex-direction: column;
        align-items: center;
        padding-right: 20px;
        padding-left: 10px;
    }
    
    .bottomButtons {
        display: flex;
        justify-content: space-between;
        width: 600px;
    }
}

    @media only screen and (max-width: 700px) {
    
    #footerContainer {
        height: 208px;
    }
        
    .bottomButtons {
        flex-wrap: wrap;
        justify-content: center;
        flex-wrap: wrap-reverse;
        margin-top: 80px;
        max-width: 300px;
    }

    .webMasterButton {
        margin-top: 24px;
        margin-bottom: 6px;
    }
}

@media only screen and (max-width: 1000px) {
    
    .heroImage {
        height: 350px;
    }

    #votersGuideForm {
        font-size: 18px;
    }
    
    #votersGuideForm input {
        margin-left: 20px;
        font-size: 18px;
    }

    #votersGuideForm select {
        margin-left: 20px;
        font-size: 18px;
        width: 52.5%;
    }

    .widgetForm {
        grid-template-rows: 2fr 1fr;
    }

    .vote411Widget {
        height: auto;
        margin-top: 80px;
    }

    .colorLogo {
        max-height: 95px;
    }
}

@media only screen and (max-width: 800px) {
    
    .vote411Widget {
        grid-template-columns: 100%;
        grid-template-rows: 1fr 4fr;
        grid-template-areas: "widgetHeader" "widgetForm"; 
        justify-items: center;
        align-items: start;
    }

    .widgetHeader {
        height: auto;
    }

    .vote411Info {
        display: none;
    }

    .vote411InfoSmall {
        display: inherit;
        margin-top: 100px;
        padding-left: 10%;
        padding-right: 10%;
    }

    .widgetForm {
        padding: 5%;
        grid-template-rows: 2fr .5fr .5fr;
        grid-template-areas: "votersGuideForm votersGuideForm" "goButton goButton" "smallText smallText";
    }

    #votersGuideForm {
        padding-top: 15px;
        padding-bottom: 15px;
        text-align: right;
    }

    #votersGuideForm select {
        display: inline-block;
        margin-left: 20px;
        margin-right: 10%;
    }

    #votersGuideForm input {
        display: inline-block;
        margin-left: 20px;
        margin-right: 10%;
    }

    .selectBox:after {
        content: "";
        background-image:url(../Images/dashicons_arrow-down-alt2.png);
        background-size: 20px 20px;
        width: 20px;
        height: 20px;
          position: absolute;
          top: 7px;
          right: 15%;
          pointer-events: none;
    }

    #goButton {
        justify-self: end;
        margin-right: 10%;
        margin-top: 5%;
    }

    .twoColumns {
        width: 100%;
        margin: 0;
    }
    
    .votersGuidePDF {
        grid-template-rows: 2fr 3fr;
        grid-template-areas: "votersGuidePDFs" "buttons";
        margin-right: 10%;
        margin-left: 10%
    }    

    .twoColumns {
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 2fr 1fr;
        grid-template-areas: "votersGuidePDF" "votersGuideMoreInfo" "pastIssues";
    }

    .votersGuideMoreInfo {
        border-left: none;
        margin: 0;
        padding-left: 0;
    }

    .votersGuideMoreInfoText {
        background-color: #E8F1F7;
        padding-left: 10%;
        padding-right: 10%;
        padding-bottom: 10%;
    }

    .pastIssues {
        padding-left: 10%;
        padding-right: 10%;
    }
}

@media only screen and (max-width: 600px) {
    
    #votersGuideForm {
        font-size: 14px;
    }

    #votersGuideForm input {
        font-size: 14px;
    }

    #votersGuideForm select {
        font-size: 14px;
    }

    .twoColumns {
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 2fr 1fr;
    }

    .votersGuideMoreInfo {
        border-top: none;
        align-items: start;
        max-height: 200px;
        background-color: #E8F1F7;
        margin-top: 100px;
    }

    .votersGuideMoreInfoText {
        padding-left: 10%;
        padding-right: 10%;
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 2fr 1fr;
        grid-template-areas: "moreInfoHeading openArrow" "moreInfoText moreInfoText";
        align-items: start;
    }


    #moreInfoHeading {
        grid-area: moreInfoHeading;
        padding-top: 10%;
    }

    .accordion {
        grid-area: moreInfoText;
        display: none;
    }

    .accordion:active {
        display: grid;
    }
    

    #openArrow {
        grid-area: openArrow;
        display: grid;
        max-height: 50px;
        padding-top: 60%;
        padding-left: 60%;
    }

    #donateButton {
        margin-top: 60px;
    }

    .votersGuideButton {
        width: 300px;
    }
    
}

